*
# benchmark content
!benchmark.py
!config.json
# benchmarked images
!Dockerfile.official
!Dockerfile.pyenv.basic
!Dockerfile.pyenv.fullopt
!Dockerfile.pyenv.miopt
!Dockerfile.uv
# marimo notebook
!Dockerfile.marimo
!requirements.marimo.txt
!notebook.py
